.colorstyle{
	background-color: #ff0000;
}
.headerimg{
	max-width: 50px;
	max-height: 50px;
}
.nyhetsflode{
	width: 50%;
	margin: auto;
	height: 1000px;
	background-color: #ccccb3;
	border-radius: 30px;
	
	

}