.colorstyle{
	background-color: #ff0033;
	color: black;
}

.nyhetsflode{
	background-color: #ffffff;
}

.asidebox{
	background-color: red;
	color: white;
	padding-top: 25px;
	padding-bottom: 25px;
	border-radius: 30px;
}
.bild{
	width: 80%;
	height: 50%;
}
.top{
	background-color: #ff0033;
}
.spancolor{
	color: white;
	font-size: 100px;
}
.tjejhackbild{
	width: 200px;
	height: 200px;
}
.quizstye{
	background-color: #ff0033; 
	border-radius: 50px;
	color: white; 
	width: 50%;
}
.quizpadding{
	padding-left: 50px;
}
.backgroundcolor{
	background-color: #f2f2f2;
}