.colorstyle{
	background-color: #ff0033;
}	

.bild{
	max-width: 75%;
	max-height: 75%;
	min-width: 100px;
	min-height: 100px;
	padding-bottom: 50px;
}
.spancolor{
	color: white;
	font-size: 100px;
}
.tjejhackbild{
	width: 200px;
	height: 200px;
}
.knuthahnbild{
	width: 150px;
	height: 150px;
}

.backgroundcolor{
	background-color: #f2f2f2;
}

.articlepadding{
	padding-left: 25px;
}
.laddanerknapp{
background-color: white; 
color: #ff0033;
border-radius: 5px; 
font-weight: bold;

}
.footer{
	width: 100%;
 	height: 200px;
 	background-color: #ff0033;
 	color: white;
 	font-size: 20px;
 	left: 0;
 	top: 0;
 	
}
html{
	overflow-x: hidden;
}
.nedrakningen{
	font-size: 5vmin;
}
.loggrid{
	justify-content: space-around;
}